<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.jpg" alt="ami" class="img-fluid" title="ami mandaviya">
                        </figure>
                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <P>Welcome to weather app</P>
                        <h2>I am  <span class="text_clr">Ami mandaviya</span> full stack devloper</h2>
                        <a href="www.google.com"><button>About me</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
        {{>footer}}
</body>

</html>